.layout {
    background-color: rgb(255, 255, 255);
   
    display: flex;
}

.content {
    width: 60%;
    margin-top: 90px;
}

.page-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.flashcard-list li{
    margin-bottom: 25px;
}
