.layout {
    display: flex;
}

.content {
    width: 60%;
    margin-top: 90px;
}

html, body {
    margin: 0;
}

.page-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.flashcard-list {
    padding: 0;
}
.flashcard-list li{
    margin-bottom: 25px;
    list-style: none;
}

.test-screen {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f1f1f1; /* Desired background color */
    overflow: hidden; /* Prevents scroll bar during animation */
}

.test-screen .card {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    width: 900px;
    min-height: 600px;
}

.dropzone {
    display: flex;
    border: 2px dashed #ccc;
    height: 200px;
    text-align: center;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 8px;
    border-width: 4px;
}

.file-preview {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 50px;
    max-height: 70px;
    flex-direction: column;
    margin-right: 20px;
}